<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form action="/users" method="POST">
        
        <h1>Edit User {{user.id}}</h1>
        
        <a href="/users">Home</a>
    </form>
    <form action="/users/{{user.id}}/update" method="POST">
        First Name : <br>
        <input type="text" name='first_name' value="{{user.first_name}}"><br>
        Last Name: <br>
        <input type="text" name='last_name' value="{{user.last_name}}"><br>
        Email: <br> 
        <input type="text" name='email' value="{{user.email}}"><br><br>
        <button>Update</button>
        <a href="">Show User</a>
    </form>
</body>
</html>